  <div class="container">
  <div class="main-info">
    <img src="../assets/cold.jpeg" *ngIf="">
    <img src="../assets/hot.png" *ngIf="time.getHours() > 8 && time.getHours() <= 18">
    <img src="../assets/cold.jpeg" *ngIf="time.getHours() > 8 && time.getHours() >= 22">
    <div class="weather-data">
      <div class="time">{{ time | date: 'HH:mm:ss' }}</div>
      <div class="location">{{ weather.name}}</div>
      <div class="temperature">{{ (weather.main.temp).toFixed() }}°C</div>
    </div>

  </div>
  <div class="more-info">
    <div class="more-info__label"></div>
    <div class="more-info__container">
      <div class="info-block">
        <div class="info-block__label">
          <span class="material-symbols-outlined icon">device_thermostat </span>
          <span class="text">max</span>
        </div>
        <div class="info-block__value">{{weather.main.temp_max.toFixed()}}°</div>
      </div>
      <div class="info-block">
        <div class="info-block__label">
          <span class="material-symbols-outlined icon">thermostat</span>
          <span class="text">min</span>
        </div>
        <div class="info-block__value">{{weather.main.temp_min.toFixed()}}°</div>
      </div>
      <div class="info-block">
        <div class="info-block__label">
          <span class="material-symbols-outlined icon">water_drop</span>
          <span class="text">min</span>
        </div>
        <div class="info-block__value">{{weather.main.humidity}}%</div>
      </div>
      <div class="info-block">
        <div class="info-block__label">
          <span class="material-symbols-outlined icon">air</span>
          <span class="text">wind</span>
        </div>
        <div class="info-block__value">{{weather.wind.speed}}km/h</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>